* text=auto
*.md text eol=lf
*.json text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.gd text eol=lf
*.tscn text eol=lf
*.tres text eol=lf
*.gdextension text eol=lf
*.ps1 text eol=crlf
third_party/*.txt text eol=lf whitespace=-trailing-space
*.blend binary
*.glb binary
*.png binary
*.wav binary
